body {
  margin: 0;
  padding: 0;
}

/* Defining the option for positioning using flexbox */

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  min-height: 100vh;
}

/* Positioning menu in the center */

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* Removes dots and positions in center */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Aligns menu in the same row */

nav ul li {
  display: inline-flex;
}

/* Designs look of the menu element and position */

nav ul li a {
  position: relative;
  padding: 16px, 0 5px;
  margin: 0 25px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Audiowide, sans-serif;
  font-size: 16px;
}

/* Sets color and transition time for element during hover */

nav ul li a:hover {
  color: tomato;
  transition: .9s;
}


/* Underlining Animation  */

/*  */

nav ul li a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  -webkit-ransform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.9);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

/*  */

nav ul li a:hover:after {
  -webkit-transform:translateX(-50%) scaleX(1);
  transform:translateX(-50%) scaleX(1);

}
